@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #FDFBFD; /* Fundo Lilás claríssimo */
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* Scrollbar personalizada e elegante */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}